<div id="app">
</div>
<div class="main-body">
<h1 class="title">flipdog</h1>
  <p class="dog-name">-- <%= @post.dog_name %> --</p>
  <%=image_tag(@post.image_url, class: "upload")%>
  <p class="description"><%= @post.description %></p>
</div>
