$primary-blue: #006aa7;
$light-grey: #a8a8a8;
$primary-yellow: #fecc00;
$primary-white: #f4f4f4;
$background: #f4f4f4;
$primary-black: #0A0310;
$primary-green: green;

.upvote {
  font-family: 'Arvo', serif;
  margin-top: 20px;
  width: 90px;
  height: 50px;
  background: lightgreen;
  transition:all 0.1s ease;
  outline: none;
  border-radius: 20%;
}

.upvote:hover {
  background-image: url('http://s3.amazonaws.com/barkpost-assets/50+GIFs/12.gif');
  background-position: center;
  background-size: 170px 50px;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: transparent;
  border: 1px solid $primary-green;
  cursor: url('http://www.rw-designer.com/icon-image/10132-24x24x32.png'), default;
}

.upvote:active {
  border: 3px double $primary-white;
  box-shadow: 2px 2px 1px $light-grey;
}

.next {
  font-family: 'Arvo', serif;
  margin-top: 20px;
  width: 90px;
  height: 50px;
  background: lightblue;
  transition:all 0.1s ease;
  outline: none;
  border-radius: 20%;
}

.next:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: $primary-blue;
  color: $primary-white;
  cursor: url('http://www.rw-designer.com/icon-image/3190-24x24x32.png'), default;
}

.create {
  font-family: 'Arvo', serif;
  color: black;
  margin-top: 20px;
  width: 90px;
  height: 50px;
  background: #fffd96;
  transition:all 0.1s ease;
  outline: none;
  border-radius: 20%;
}

.create:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: $primary-yellow;
  color: $primary-black;
  cursor: pointer;
}

.back {
  font-family: 'Arvo', serif;
  margin-top: 30px;
  margin-bottom: -30px;
  width: 70px;
  height: 35px;
  background: lightblue;
  transition:all 0.1s ease;
  outline: none;
  border-radius: 20%;

}

.back:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: $primary-blue;
  color: $primary-white;
}

@media #{small} {
  .create:hover {
    background-color: blue;
  }
}
