$primary-blue: #006aa7;
$light-grey: #a8a8a8;
$primary-yellow: #fecc00;
$primary-white: #f4f4f4;
$background: #f4f4f4;
$primary-black: #0A0310;
@import url('https://fonts.googleapis.com/css?family=Finger+Paint');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Titan+One');

body {
  padding-bottom: 80px;
  background-image: url('https://preview.ibb.co/cRMLY5/Untitled_design_1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: $background;
  border-radius: 2%;
}

a:hover {
  color: $primary-yellow;
}

.title {
  font-family: 'Finger Paint', cursive;
  font-size: 65px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.upload {
  border: 2px solid black;
  background-color: $primary-blue;
  padding: 3px;
  border-radius: 4%;
  max-height: 450px;
  max-width: 300px;
}

.dog-name{
  color: $primary-blue;
  font-family: 'Arvo', serif;
  font-size: 40px;
  text-shadow: 1px 1px $primary-yellow;
}

.description {
  color: $primary-blue;
  font-family: 'Arvo', serif;
  margin-top: 5px;
  font-size: 20px;
}

.poster-name {
  color: $primary-black;
  font-family: 'Arvo', serif;
  font-size: 12px;
  margin-top: -10px;
}

.vote-count {
  background-image: url('https://thumb.ibb.co/e70Yo5/votecount.png');
  background-repeat: no-repeat;
  background-size: 46px 46px;
  background-position: center;
  font-family: 'Arvo', serif;
  font-size: 30px;
  margin-bottom: -40px;
  position: relative;
  left: 120px;
  top: 14px;
  color: $primary-white;
}
