$primary-blue: #006aa7;
$light-grey: #a8a8a8;
$primary-yellow: #fecc00;
$primary-white: #f4f4f4;
$background: #f4f4f4;
$primary-black: #0A0310;
@import url('https://fonts.googleapis.com/css?family=Finger+Paint');
@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
  font-family: 'Arvo', serif;
  padding-bottom: 80px;
  background-image: url('https://preview.ibb.co/cRMLY5/Untitled_design_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: $background;
  border-radius: 2%;
}

header {
  background-color: $primary-blue;
  padding-bottom: 2px;
  border-bottom: 2px solid $primary-yellow;
}

a {
  color: $primary-white;
}

a:hover {
  color: $primary-yellow;
}

.title {
  font-family: 'Finger Paint', cursive;
  font-size: 65px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.upload {
  border: 2px solid black;
  background-color: $primary-blue;
  padding: 3px;
  border-radius: 4%;
  max-height: 450px;
  max-width: 300px;
}

.dog-name{
  font-size: 35px;
}

.description {
  margin-top: 5px;
  font-size: 18px;
  width: 50%;
}
