$primary-blue: #006aa7;
$light-grey: #a8a8a8;
$primary-yellow: #fecc00;
$primary-white: #f0f0f0;
$background: #f4f4f4;
$primary-black: #0A0310;
@import url('https://fonts.googleapis.com/css?family=Finger+Paint');

body {
  padding-bottom: 80px;
  background-image: image-url("paw.png");
  background-repeat: repeat-x;
  background-position: center;
  background-blend-mode: screen;
  background-color: $background;
  border-radius: 2%;
}

header {
  background-color: $primary-blue;
  padding-bottom: 2px;
  border-bottom: 2px solid $primary-yellow;
}

a {
  color: $primary-white;
}

a:hover {
  color: $primary-yellow;
}

.title {
  font-family: 'Finger Paint', cursive;
  margin-top: 10px;
  margin-bottom: 20px;
}

.upload {
  border: 1px solid $primary-blue;
  background-color: $primary-yellow;
  padding: 1px;
  border-radius: 4%;
  max-height: 450px;
  max-width: 300px;
}

.dog-name{
  font-size: 20px;
}

.description {
  margin-top: 15px;
  font-size: 25px;
  width: 50%;
}
