.hidden {
  display: none;
}

header {
  background-color: $primary-blue;
  padding-bottom: 2px;
  border-bottom: 2px solid $primary-yellow;
}

.logout, .login {
  font-family: 'Arvo', serif;
  color: $primary-white;
  padding-left: 15px;
}

.logout {
  font-family: 'Arvo', serif;
  padding-right: 10px;
}

.menu-show {
  font-family: 'Arvo', serif;
  padding: 0px 3px;
  border-right: 1px solid $light-grey;
}

.menu-show:last-of-type {
  border-right: none;
}

.menu-hide {
  display: none;
}

.menu-image {
  height: 45px;
  width: 45px;
  border: 1px solid $primary-blue;
  border-radius: 50%;
  padding-bottom: 5px;
  margin-bottom: -20px;
}

#img-bkgd {
  background-color: lightblue;
  margin-right: 20px;
  height: 45px;
  width: 45px;
  padding-top: 5px;
}
