.profile-upload {
  max-width: 350px;
  max-height: 300px;
}

.profile-posts {
  border-left: 1px solid lightgrey;
}

.last-image {
  max-height: 120px;
  max-width: 150px;
}

.title-form {
  font-family: 'Arvo', serif;
}
