.log-background {
  background-image: url('https://media.giphy.com/media/N97kHQgG33rUI/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.sign-background {
  background-image: url('https://media.giphy.com/media/LAmpwU0Adqaqc/giphy.gif');
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.log-title {
  color: white;
  padding-bottom: 40px;
}
