.log-background {
  background-image: url('https://s1.yimg.com/bt/api/res/1.2/tirAKf2uUSc_cwgOwL1B7A--/YXBwaWQ9eW5ld3M7Y2g9NDU3O2NyPTE7Y3c9NjMwO2R4PTA7ZHk9MDtmaT11bGNyb3A7aD00NTc7aWw9cGxhbmU7cT03NTt3PTYzMA--/http://l.yimg.com/os/publish-images/lifestyles/2014-10-27/2ee14120-5ddc-11e4-8aa5-15e021c9cae3_The-Avengers-as-dogs.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.field {}
