#Star-Wars {
  font-family: 'STARWARS';
}

#Superhero {
  font-family: 'modithorson';
}

#Pokemon {
  font-family: 'ThunderLord';
  font-size: 25px;
}

.Pokemon {
  font-family: 'ThunderLord';
  font-size: 15px;
}

.theme-layout {
  font-family: 'Arvo', serif;
  margin-bottom: -10px;
}
